# numpy restricted by coffea until Python 3.6 support is dropped as conda-forge
# doesn't know how to do Python version specific dependencies
numpy<1.22
fastjet==3.3.4.0rc9
# coffea[servicex] components not on conda-forge
servicex==2.5.4
func-adl-servicex==2.1
func-adl==3.1
--extra-index-url https://download.pytorch.org/whl/cpu/
--extra-index-url https://google-coral.github.io/py-repo/
tritonclient[all]
# set the version for data.pyg.org --find-links
torch==1.12.1
tflite-runtime
onnxruntime
# Not a real index, so can't rely on hash discovery
# --find-links https://data.pyg.org/whl/torch-1.12.1+cpu.html
# torch-scatter
# torch-sparse
# torch-cluster
# torch-spline-conv
torch-geometric
